h1, h2, h3 {
    font-family: 'Lora', sans-serif;
}

nav, ul, li, span, p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {

}

h3 {    
    font-size: 36px;
    line-height: 1.3em;
}

@include breakpoint-sm {
    h1 {
        font-size: 84px;
    }
}

@include breakpoint-md {

}

@include breakpoint-lg {
    h1 {
        font-size: 134px;
    }
}