h1, h2, h3 {
    font-family: 'Lora', sans-serif;
}

nav, ul, li, span, p {
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 45px;
    text-align: center;
}

h3 {    
    font-size: 36px;
    line-height: 1.3em;
}

@include breakpoint-sm {
    h1 {
        font-size: 84px;
    }
}

@include breakpoint-md {
    h2 {
        font-size: 65px;
    }
}

@include breakpoint-lg {
    h1 {
        font-size: 100px;
    }
}

@include breakpoint-xl {
    h1 {
        font-size: 120px;
    }
}

@include breakpoint-desktop-short {
    h1 {
        font-size: 100px;
    }
}