.about {
    @include full-screen-container;
    height: auto;
    max-width: 1920px;
    margin: auto;
    @include breakpoint-lg {
        display: flex;
        align-items: center;
    }
}

.about__headerContainer {
    margin: auto;
    display: flex;
    flex-direction: column;
    
    @include breakpoint-md {
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
}

.about__header {
    margin: 35px 0px 15px 0px;

    @include breakpoint-md {
        margin: 0px;
    }
}

.about__divider {
    width: 195px;
    height: 1px;
    background: $color-gray-border;
    margin: auto;

    @include breakpoint-md {
        width: 1px;
        height: 195px;
        margin: 0px;
    }

    @include breakpoint-lg {
        display: none;
    }
}

.about__photoTablet {
    display: none;
    border-radius: 50%;
    width: 140px;
    height: 140px;

    @include breakpoint-md {
        display: block;
    }

    @include breakpoint-lg {
        display: none;
    }
}

.about__textContainer {
    font-size: 20px;
    margin: auto;
    width: 310px;
    text-align: center;

    @include breakpoint-mobile-landscape {
        width: 75%
    }

    @include breakpoint-md {
        width: 75%;
        margin-top: 75px;
    }

    @include breakpoint-lg {
        margin-top: 50px;
        width: 65%;
        text-align: left;
    }
}

.about__paragraph {
    margin: 20px auto;
    line-height: 36px;
}

.about__desktopContainerLeft {

    @include breakpoint-lg {
        display: inline-block;
        width: 60%;
    }
}

.about__desktopContainerRight {
    display: none;
    width: 40%;
    height: 100%;
    @include breakpoint-lg {
        display: flex;

    }
}

.about__desktopDivider {
    display: inline-block;
    width: 1px;
    height: 440px;
    margin-right: 50px;
    background: $color-gray-border;
}

.about__photoDesktop {
    width: auto;
    height: auto;
    margin-right: 50px;
    border-radius: 50%;
}