.about {
    @include full-screen-container;
    height: auto;
}

.about__header {
    margin: 35px auto 15px auto;
}

.about__divider {
    width: 195px;
    height: 1px;
    background: $color-gray-border;
    margin: auto;
}

.about__textContainer {
    font-size: 20px;
    margin: auto;
    width: 310px;

    @include breakpoint-mobile-landscape {
        width: 75%
    }
}

.about__paragraph {
    margin: 20px auto;
    text-align: center;
    line-height: 36px;
}