.skills {
    @include full-screen-container;

    height: auto;
    position: relative;
    z-index: 10;

    @include breakpoint-lg {
        height: 600px;
    }

}

.skills__dividerContainer {
    position: absolute;
    top: -2px;
    left: 0;
    width: 105%;
    z-index: 5;
    overflow: hidden;
}

.skills__divider {
    width: 100%;
    height: 50px;

    @include breakpoint-md {
        height: 100px;
    }

    @include breakpoint-xl {
        height: 150px;
    }
}

.skills__background {
    position: absolute;
    width: 500px;
    height: 250px;
    background-image: url("../../components/Skills/images/trees_mobile_2x.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    
    @include breakpoint-sm {
        width: 767px;
    }

    @include breakpoint-md {
        background-image: url("../../components/Skills/images/trees_tablet_2x.jpg");
        width: 1024px;
        height: 370px;
    }

    @include breakpoint-lg {
        background-image: url("../../components/Skills/images/trees_desktop_2x.jpg");
        height: 600px;
        width: 1440px;
    }

    @include breakpoint-xl {

    }
        
    &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(to top, #00222c 0%, #25435c 100%);
        opacity: .85;

        @include breakpoint-lg {
            background: linear-gradient(to top, #09181cf2 0%, #194158 100%);
            opacity: .95;
        }
    }
}

.skills__content {
    height: 100%;
    position: relative;
    z-index: 4;
    color: white;
    padding-top: 40px;
}

.skills__header {
    margin: 75px auto;

    @include breakpoint-md {
        margin: 125px auto;
    }

    @include breakpoint-lg {
        margin: 125px auto 375px auto;
    }
}

.skills__list {
    width: 100%;
    max-width: 1024px;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 0px auto 0px auto;
    border-top: 1px solid white;
    border-left: 1px solid white;
    background-color: $color-dark-blue;

    @include breakpoint-lg {
        position: absolute;
        bottom: -257.25px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.skills__listItem {
    min-width: 50%;
    flex: 0 0 50%;
    height: 0;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding-bottom: 50%;
    position: relative;
    letter-spacing: 2px;

    @include breakpoint-md {
        min-width: 25%;
        flex: 0 0 25%;
        padding-bottom: 25%;
    }
}

.skills__listSpan {
    position: absolute;
    z-index: inherit;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint-xl {
        font-size: 22px;
    }
}