.splash {
    @include full-screen-container;

    background-color: lightblue;
}

.splash__headerContainer {
    width: 80%;
    height: 250px;
    margin: 25px auto 0px auto;
    background-color: white;
}

.splash__subheaderContainer {
    width: 80%;
    height: 300px;
    margin: 0px auto;
    background-color: white;
    border: 1px solid black;
}